.home-page{
    display: flex;
    justify-content: center;
    .create-table-link{
        width: 100%;
        max-width: 300px;
    }
    button{
        min-height: 40px;
        width: 100%;
        font-size: 20px;
        background-color: #0c3b5f;
        border: none;
        color: white;
        cursor: pointer;
    }
    button:hover{
        border: 1px solid black;
        background-color: white;
        color: black;
    }
}