.outside-progress{
    margin-top: 60px;
    width: 100%;
    min-height: 15px;
    background-color: rgb(184, 181, 181);
    border-radius: 10px;
    overflow: hidden;
    .progress-bar{
        min-height: 15px;
        background-color: green;
    }
}