.table-list {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  .spinner-paragraph {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .spinner-paragraph {
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
      .empty-list-paragraph {
        text-align: center;
        font-size: 40px;
        color: red;
      }
    }
    .table-wrapper {
      width: 100%;
      max-width: 600px;
      padding: 20px;
      border: 1px solid black;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow-x: scroll;
      h3 {
        text-align: center;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        background-color: burlywood;
        th {
          border: 1px solid black;
          text-align: center;
          .circle {
            font-size: 40px;
          }
        }
      }
    }
  }
  .delete-all {
    background-color: red;
    min-height: 40px;
    max-width: 150px;
    margin-top: 30px;
  }
}
