.table-menu {
  display: flex;
  flex-direction: column;
  min-width: 70px;
  position: absolute;
  background-color: white;
  .edit {
    background-color: yellow;
    height: 30px;
    width: 100%;
  }
  .delete {
    margin-top: 10px;
    background-color: red;
    height: 30px;
    width: 100%;
  }
}
