.table-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 980px;
    .form-group-wrapper {
      width: 100%;
      .form-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        min-height: 40px;
        margin-bottom: 15px;
        label {
          width: 25%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        input {
          width: 70%;
        }
      }
      .plus {
        display: flex;
        justify-content: center;
        svg {
          font-size: 40px;
          cursor: pointer;
        }
      }
      .minus svg {
        font-size: 40px;
        cursor: pointer;
      }
      .next-button {
        display: flex;
        justify-content: flex-end;
      }
      .buttons {
        display: flex;
        justify-content: space-between;
      }
      button {
        min-height: 40px;
        width: 100%;
        max-width: 300px;
        font-size: 20px;
        background-color: #0c3b5f;
        border: none;
        color: white;
        cursor: pointer;
        margin-top: 20px;
      }
      button:hover {
        border: 1px solid black;
        background-color: white;
        color: black;
      }
    }
  }
}
