a {
  text-decoration: none;
}
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  main {
    padding: 30px 15px;
  }
  ::-webkit-scrollbar {
    height: 5px;
    width: 4px;
    background: rgb(40, 50, 60);
  }

  ::-webkit-scrollbar-thumb:horizontal {
    background-color: #70e0b5;
    border-radius: 10px;
  }
}
